/* 
Author: Mohd Rokon
PSU ID: mar6897
*/

* {
    font-family: 'Cairo', sans-serif;
}

.main {
    position: fixed;
    top: 20%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -20%);
    width: 1000px;
    height: 1200px;
    border-radius: 20px;
    background-color: #333333;
    display: grid;
    grid-template-columns: 0.05fr 1fr 1fr 0.05fr;
    grid-template-rows: 0.4fr 0.5fr 1.5fr 0.3fr;
    gap: 5px 0px;
    grid-template-areas: ". header header ."
        ". cityDep cityArrive ."
        ". content content ."
        ". footer footer .";
}

.header {
    grid-area: header;
}

h1 {
    color: #4285F4;
    text-align: center;
}

h2 {
    text-align: center;
    color: greenyellow;
}

h3 {
    text-align: center;
    color: white;
}

.signIn {
    grid-area: cityDep;
    margin-left: 5px;
    max-width: 480px;
    border: 2px solid #333333;
    border-radius: 10px;
    background-color: white;
}

#userCity {
    width: 300px;
}

.cityDep, p {
    text-align: center;
    padding-left: 5px;
    color: black;
}

#submitButton {
    float: center;
    width: 80px;
    background-color: #4285F4;
    border-radius: 5px;
    color: white;
}

    #submitButton:hover {
        background-color: #1db954;
        border-radius: 4px;
    }

#airportList {
    margin-left: 5px;
    width: 280px;
}

#CurrencyList {
    margin-left: 5px;
    margin-top: 10px;
    width: 80px;
    height: 42px;
}

.cityArrive {
    grid-area: cityArrive;
    margin-left: 5px;
    max-width: 480px;
    border: 2px solid #333333;
    border-radius: 10px;
    background-color: white;
}

#userCityArrive {
    width: 300px;
}

.cityArrive,
p {
    text-align: center;
    padding-left: 5px;
    color: black;
}

#submitButtonArrive {
    float: center;
    width: 80px;
    background-color: #4285F4;
    border-radius: 5px;
    color: white;
}

    #submitButtonArrive:hover {
        background-color: #1db954;
        border-radius: 4px;
    }

#airportListArrive {
    margin-left: 5px;
    width: 280px;
}

.content {
    grid-area: content;
    margin-left: 5px;
    max-width: 1000px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: white;
    overflow: scroll;
}

#result {
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 10px;
    width: 150px;
    background-color: #4285F4;
    border-radius: 5px;
    color: white;
}

    #result:hover {
        background-color: #1db954;
        border-radius: 4px;
    }

#resultHeader {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin-left: 5%;
    height: 50px;
    overflow: auto;
}

#resultHeader, th {
    border: 2px solid black;
}

#resultTable {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin-left: 5%;
}

#resultTable,
td {
    text-align: center;
    border: 2px solid black;
}

#searchOptions {
    display: flex;
    margin-left: 25%;
}

@media screen and (max-width: 1920px) {
    .main {
        position: fixed;
        top: 20%;
        left: 50%;
        /* bring your own prefixes */
        transform: translate(-50%, -20%);
        width: 900px;
        height: 950px;
        border-radius: 20px;
        background-color: #333333;
        display: grid;
        grid-template-columns: 0.05fr 1fr 1fr 0.05fr;
        grid-template-rows: 0.4fr 0.2fr 1.5fr 0.3fr;
        gap: 5px 0px;
        grid-template-areas: ". header header ."
            ". cityDep cityArrive ."
            ". content content ."
            ". footer footer .";
    }
}

.footer {
    grid-area: footer;
    text-align: center;
    color: greenyellow;
    margin-top: 10px;
}
