
.navbar {
    background-color: #0d1117;
}

table.poll_data_table {
    border: 1px solid #21262D;
    background-color: #A2D2FB;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

    table.poll_data_table td, table.poll_data_table th {
        border: 1px solid #21262D;
        padding: 3px 2px;
    }

    table.poll_data_table tbody td {
        font-size: 13px;
        color: #21262D;
    }

    table.poll_data_table tr:nth-child(even) {
        background: #77BDFB;
    }

    table.poll_data_table thead {
        background: #CEA5FB;
        border-bottom: 0px solid #21262D;
    }

        table.poll_data_table thead th {
            font-size: 15px;
            font-weight: bold;
            color: #21262D;
            text-align: center;
            border-left: 0px solid #21262D;
        }

            table.poll_data_table thead th:first-child {
                border-left: none;
            }

    table.poll_data_table tfoot td {
        font-size: 14px;
    }

.container {
    margin-top: 24px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
}

.card-body-header{
    display: grid;
}

.card-pie {
    display: flex;
    width: 100%;
}

.card-pie .card-body{
    margin: 40px;
}




@media only screen and (max-width: 500px) {
    .card-pie {
        display: grid;
    }

    .container{
        margin-top: 5px;
    }

    .card-title{
        font-size: 18px;
    }
}