.navbar {
    background-color: #0d1117;
}

#emailHelp{
    color: #ecf2f8;
}


@media only screen and (max-width: 500px) {
    .container {
        margin-top: 12px !important;
    }

}